# Generated automatically by kansas-lava-cores
#["CLK_32MHZ","CLK_40MHZ","RESET","VGA_VSYNC","VGA_HSYNC","VGA_R<0>","VGA_R<1>","VGA_R<2>","VGA_R<3>","VGA_G<0>","VGA_G<1>","VGA_G<2>","VGA_G<3>","VGA_B<0>","VGA_B<1>","VGA_B<2>","VGA_B<3>"]
## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P60;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P144;
CONFIG PART=XC6SLX9-TQG144-2;

# Clock
NET "CLK_32MHZ" LOC = "P94" | IOSTANDARD = LVTTL;
NET "CLK_32MHZ" TNM_NET = RAW_32MHZ;
TIMESPEC TS_CLK_32MHZ = PERIOD RAW_32MHZ 32 MHz HIGH 50%;

# Reset
NET "RESET" LOC="P85"  | IOSTANDARD=LVTTL | PULLDOWN;

# Joypad
# -- NET "BTN_UP"      LOC="P95"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
# -- NET "BTN_DOWN"    LOC="P62"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
# -- NET "BTN_LEFT"    LOC="P74"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
# -- NET "BTN_RIGHT"   LOC="P59"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;

# PS/2, port A
# -- NET "PS2A_DAT"    LOC="P114"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
# -- NET "PS2A_CLK"    LOC="P115"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;

# PS/2, port B
# -- NET "PS2B_DAT"    LOC="P88"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
# -- NET "PS2B_CLK"    LOC="P93"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;

# Joystick, port A
# -- NET "JOYA_UP"    LOC="P57"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B12
# -- NET "JOYA_DOWN"  LOC="P50"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B14
# -- NET "JOYA_LEFT"  LOC="P47"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B15
# -- NET "JOYA_RIGHT" LOC="P51"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A1
# -- NET "JOYA_FIRE1" LOC="P55"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B13
# -- NET "JOYA_FIRE2" LOC="P58"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A3
# -- NET "JOYA_GND"   LOC="P48"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A0

# Joystick, port B
# -- NET "JOYB_UP"    LOC="P123"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B12
# -- NET "JOYB_DOWN"  LOC="P126"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B14
# -- NET "JOYB_LEFT"  LOC="P127"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B15
# -- NET "JOYB_RIGHT" LOC="P132"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A1
# -- NET "JOYB_FIRE1" LOC="P124"    | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # B13
# -- NET "JOYB_FIRE2" LOC="P134"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A3
# -- NET "JOYB_GND"   LOC="P131"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # A0

# LEDs
# -- NET "LED<3>"      LOC="P61"  | IOSTANDARD=LVTTL;                                # A4
# -- NET "LED<2>"      LOC="P66"  | IOSTANDARD=LVTTL;                                # A5
# -- NET "LED<1>"      LOC="P67"  | IOSTANDARD=LVTTL;                                # A6
# -- NET "LED<0>"      LOC="P75"  | IOSTANDARD=LVTTL;                                # A7

# VGA
NET "VGA_R<0>"    LOC="P118"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C4
NET "VGA_R<1>"    LOC="P119"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C5
NET "VGA_R<2>"    LOC="P120"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C6
NET "VGA_R<3>"    LOC="P121"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # C7
NET "VGA_G<0>"    LOC="P84"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B4
NET "VGA_G<1>"    LOC="P82"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B5
NET "VGA_G<2>"    LOC="P80"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B6
NET "VGA_G<3>"    LOC="P78"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B7
NET "VGA_B<0>"    LOC="P97"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B1
NET "VGA_B<1>"    LOC="P92"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B2
NET "VGA_B<2>"    LOC="P87"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B3
NET "VGA_B<3>"    LOC="P99"   | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B0
NET "VGA_VSYNC"   LOC="P116"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B3
NET "VGA_HSYNC"   LOC="P117"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # B3
